html {
  font-family: 'OpenSans', sans-serif;
  height: 100%;
  scroll-behavior: smooth;
}

.clara {
  font-family: 'Libre Baskerville', serif;
}

.contact-sections {
  padding: 20rem;
}

h2, main {
  text-align: center;
}

.logo {
  margin: 0 auto;
}

/* navigation */

.design-nav {
  display: none;
  visibility: hidden;
}

.skip-links {
  background-color: #000;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);

}

.nav li {
  float: left;
}

li {
  list-style-type: none;
  text-decoration: none;
}

.nav-btn {

  color: #65737E;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

.btn-white {
  background-color: #fff;
  color: #65737e;
  padding: 8px 16px;
  border: solid #fff 2px;
  text-decoration: none;
  border-radius: 6px;
}

.btn-white:hover {
  color: #F2A603;

}

.btn-hero {
  color: #fff;
}

.btn-hero:hover {
  color: #F2A603;
}


.btn-solid {
  background-color: #000;
  color: #fff;
  transition: all .2s linear;
}

.btn-solid:hover {
  background-color: #65737E;
  color: #fff;
}

.cards:hover {
  background-color: #82C341;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  transition: all .2s linear;
}

.list {
    color: #65737E;
    text-decoration: none;
}

li a:hover {
    color: #82C341;
    transition: all .2s linear;
}

li a:active {
    color: #82C341;

}

/* colours */

.cream {
  background: #F7EEE0;
}

.cream-text {
  color: #F7EEE0;
}

.yellow-bg {
  background-color: #f2a603;
}

.yellow {
  color: #f2a603;
}

.white {
  color: #fff;
}

.white-bg {
  background-color: #fff;
}

.dark-bg {
  background-color: #383633;

}


.mid-grey {
  color: #78746d;
}


.grey {
  background-color: #65737E;
}

.grey-text {
  color: #383633;
}

.light-grey-text {
  color: #ececec;
}

.light-grey-bg {
  background-color: #ececec;
}

a:active {
  color: #82C341;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


hr {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;
  border-top: 4px solid #fff;
}

/* contact-form */

label {
 text-align: left;
 color: #5E5E5E;
}

input {
  border: none;
  border-bottom: 2px solid #dcdcdc;
}

/* hero-banner */
.hero-image {


/* Position */

  background-position:center;
  background-repeat: no-repeat;
}

/* text location banners */

.hero-text-bottom {
  text-align: center;
  color: white;
}

.top {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*gallery control*/

.mySlides {
  display: block;
  visibility: visible;
}

.slide-show {
  visibility: visible;
}

.slide-show-2 {
  display: block;
}

.shadow-box {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);

}


.gallery {
  visibility: hidden;
  display: none;

}

.gallery-img {
  visibility: hidden;
  display: none;
}

.img {
  opacity: 1;
  transition: all .5s linear;
}


.intro-text {
  padding-left: 1em;
  padding-right: 1em;
}

/*next previous*/

np-btn {
    text-decoration: none;
    display: inline-block;
    padding: 16px 16px;
}

a {
  text-decoration: none;

}

a:hover {
    color: #82C341;
    transition: all .2s linear;

}

.circle {
  width: 2.6rem;
  height: 2.6rem;
  padding-top: .35rem;
  display: inline-block;
  margin: 0rem 2rem;
  background-color: #82C341;
  border-radius: 50%;
  font-size: 25px;
  color:#fff;
}

.circle:hover {
  background-color: #6AA51E;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  color: #fff;
  transition: all .2s linear;
}

.arrow:hover {
  color: #fff;
  transition: all .2s linear;
}

/* social-hover */
.socials {
  border-radius: 50%;
}

.socials:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
  transition: all .2s linear;
}

.portrait-img {

  display: center;
  width: 75%;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;

  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #E2E2E2 solid;
  background-color:#000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  transition: all .4s linear;
  background-color: #82C341;
  color: #fff;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #F7EEE0;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  transition: all .2s linear;
}

/* Style navigation menu links */
.topnav a {
  color: 000;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #F7EEE0;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.hamburg a {
  color: #000;
}

.hamburg a:hover {
  background-color: #78746D;
  color: #fff;
  transition: all .2s linear;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #F7EEE0;
  color: #000;
}

{
  box-sizing: border-box;
}

.arrow {
  border: solid white;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 6px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* The sidebar menu */
.sidenav {
  height:auto;
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 5; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #78746D;
  display: block;
    transition: all .2s linear;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #383633;
    transition: all .2s linear;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}



@media only screen and (min-width: 25em) {

  .sidenav {
    display: none;
  }

.arrow, .down {
  display: none;
}

  .bigheader {
    display: none;
  }

/* about page */
.about {
  padding: 0;
  margin: 0;
}

.about-content {
  padding: 12px;
}

.logo {
  margin: 0 ;
}

/*gallery control*/
.gallery {
  visibility: visible;
  display: block;

}

.gallery-img {
  visibility: visible;
  display: block;
}

.slide-show {
  visibility: hidden;
  display: none;
}

.w3-left, .w3-right, .w3-badge {
  cursor: pointer;
  transition: all .2s linear;
}
.w3-badge {
  height: 13px;
  width: 13px;
  padding: 0;
}

.btn-img {
  opacity: 1.0;
  text-shadow: 0.0;
}

.btn-img:hover {
  opacity: 0.5;
  text-shadow: 1.0
}

.embed {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  width: 100%;
}

.embed-16by9 {
  padding-top: 56.25%;
}

.embed-24by10 {
  padding-left: 56.25%;
}

.embed-item {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@media only screen and (min-width: 40em) {

  .bigheader {
    display: none;
  }

h2, p {
  text-align: left;
}

.video {
  width: 640px;
  height: 360px;
}

.nav li {
  float: left;
}

label {
 text-align: center;
 padding-right: 2em;

}

.design-btn {
  display: none;
  visibility: hidden;
}

.design-nav {
  display: block;
  visibility:visible;
}

/* about page */
.about {
  padding: 4em;
}

.about-img {
  width: 100%;
  border-radius: 0%;
  padding: 0;
}

.portrait-img {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/* text location banners */
  .hero-text-bottom {
  text-align: center;
  right: 2em;
  color: white;
}

hr {
  margin-top: 5px;
  margin-left: 17px;
  margin-right: 17px;

  border-top: 3px solid ;
}

.intro-text {
  padding-left: 3em;
}


` `
}
@media only screen and (min-width: 64em) {

  .sidenav {
    display: block;
  }


  .arrow, .down {
    display: flex;
  }

  .smallheader {
    display: none;
  }

  .bigheader {
    display:block;
  }


  .video {
    width: 1080px;
    height: 720px;

  }

.large-gutter {
  margin-left: 12em;
  margin-right: 12em;
}

}

@media only screen and (min-width: 98em) {

  .video {
    width: 1720px;
    height: 880px;
  }
  .large-gutter {
    margin-left: 16em;
    margin-right: 16em;
  }
}
