html {
  font-family: OpenSans, sans-serif;
  height: 100%;
}

/* hamburger */
.wrapper-menu {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}

.wrapper-menu.open {
  transform: rotate(-45deg);
}

.line-menu {
  background-color: #82C341;
  border-radius: 5px;
  width: 100%;
  height: 6px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}


/* navigation */
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);

}

.nav li {
    float: left;
}

.nav-btn {
    display: block;
    color: #65737E;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

.btn-white {
  background-color: #fff;
  color: #65737e;
  padding: 8px 16px;
  transition: all .2s linear;
  border: solid #fff 2px;
  text-decoration: none;
  border-radius: 24px;
}

.btn-white:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);

}

.btn-solid {
  opacity: 1;
  transition: all .5s linear;
}

.btn-solid:hover {
  opacity: 1;
  transition: all .5s linear;
}

.list {
    color: #65737E;
    text-decoration: none;
}

li a:hover {
    color: #82C341;
    border-bottom: 4px solid #82C341;
    transition: all .2s linear;
}

li a:active {
    color: #82C341;

}

/* colours */
.white {
  color: #fff;
}

.white-bg {
  background-color: #fff;
}

.dark-blue-bg {
  background-color: #5E8F8F;
}

.dark-blue {
  color: #5E8F8F;
}

.blue {
  color: #6CBFBF;
}

.blue-bg {
  background-color: #6CBFBF;
}

.light-blue{
  color: #ACD3D3;
}

.light-blue-bg{
  background-color: #ACD3D3;
}

.light-green {
  color: #B1D191;
}

.light-green-bg {
  background-color: #B1D191;
}

.green {
  color: #82C341;
}

.green-bg {
  background-color: #82C341;
}

.grey {
  background-color: #65737E;
}

.grey-text {
  color: #65737E;
}

a:active {
    color: #82C341;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    position: relative;
    text-align: center;
    color: #65737E;
}

hr {
  margin-top: 20px;
  border-top: 4px solid #fff;
}

/* hero-banner */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

    /* Position */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* text location banners */

.hero-text-bottom {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/*gallery control*/
  .gallery {
    background-color: #000;
  }

  .img {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);

    opacity: 1;
    transition: all .5s linear;
  }
 .img:hover {
    opacity: .7;
 }


 /*next previous*/

 .container-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10vmin;
    height: 5vmin;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.arrow {
  margin: 10px;
  position: absolute;
  top: 50%;
  width: 3vmin;
  height: 3vmin;
  background: transparent;
  border-top: 1vmin solid #65737E;
  border-right: 1vmin solid #65737E;
  box-shadow: 0 0 0 lightgray;
  transition: all 200ms ease;
}
.arrow.left {
  left: 0;
  -webkit-transform: translate3d(0, -50%, 0) rotate(-135deg);
  transform: translate3d(0, -50%, 0) rotate(-135deg);
}
.arrow.right {
  right: 0;
  -webkit-transform: translate3d(0, -50%, 0) rotate(45deg);
  transform: translate3d(0, -50%, 0) rotate(45deg);
}
.arrow:hover {
  border-color: #82C341;
  box-shadow: 0.5vmin -0.5vmin 0 #65737E;
}
.arrow:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-40%, -60%) rotate(45deg);
          transform: translate(-40%, -60%) rotate(45deg);
  width: 200%;
  height: 200%;
}

/* social-hover */

.socials {
  border-radius: 50%;
}

.socials:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
  transition: all .3s linear;

}

@media only screen and (min-width: 25em) {

  /* about page */

  .about {
    padding: 0;
    margin: 0;
  }
  .about-content {
    padding: 12px;

  }

.about-img {
  width: 200px;
  height: auto;
  padding: 1em;
  border-radius: 50%;
  transition: all .2s linear;
}

@media only screen and (min-width: 40em) {

  /* about page */

  .about {
    padding: 4em;

  }

  .about-img {
    display: block;
    width: 100%;
    border-radius: 0%;
    padding: 0;
  }

  /* text location banners */


  .hero-text-bottom {
      text-align: center;
      position: absolute;
      bottom: 10%;
      right: 2em;
      transform: translate(-50%, -50%);
      color: white;
  }

  hr {
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;

    border-top: 6px solid #fff;
  }

}
