html {
  font-family: OpenSans, sans-serif;
  height: 100%;
}

/* navigation */
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);

}

.nav li {
    float: left;
}

.nav-btn {
    display: block;
    color: #65737E;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

.list {
    color: #65737E;
    text-decoration: none;
}

li a:hover {
    color: #82C341;
    border-bottom: 4px solid #82C341;
    transition: all .2s linear;
}

li a:active {
    color: #82C341;

}

/* colours */
.white {
  color: #fff;
}

.white-bg {
  background-color: #fff;
}

.dark-blue-bg {
  background-color: #5E8F8F;
}

.dark-blue {
  color: #5E8F8F;
}

.blue {
  color: #6CBFBF;
}

.blue-bg {
  background-color: #6CBFBF;
}

.light-blue{
  color: #ACD3D3;
}

.light-blue-bg{
  background-color: #ACD3D3;
}

.light-green {
  color: #B1D191;
}

.light-green-bg {
  background-color: #B1D191;
}

.green {
  color: #82C341;
}

.green-bg {
  background-color: #82C341;
}

.grey {
  background-color: #65737E;
}

.grey-text {
  color: #65737E;
}

a:active {
    color: #82C341;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    position: relative;
    text-align: center;
    color: #65737E;
}


* {box-sizing: border-box;}

.img-comp-container {
  position: relative;
  height: 500px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}

hr {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  border-top: 2px solid #fff;
}

/* social badge */
.fa {
    padding: 17px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 70%;
    margin-left: 25px;
}

.fa:hover {
    background-color: #82C341;
    transition: all .2s linear;
}

.social-badge {
  margin: 45px;
}

/* hero-banner */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));


    height: 35%;

    /* Position */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* text location */
.hero-text-top {
    text-align: left;
    position: absolute;
    top: 4em;
    left: 8em;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text-bottom {
    text-align: left;
    position: absolute;
    bottom: -170%;
    left: 8em;
    transform: translate(-50%, -50%);
    color: white;
}
.hero-text-btn {
    text-align: right;
    position: absolute;
    bottom: -170%;
    right: 2em;
    transform: translate(-50%, -50%);
    color: white;
}
